body {
    -webkit-text-size-adjust: 100%;
    font-family: 'GenJyuuGothicX';
    margin-bottom: 500px;
    }

/*Color設定*/
.red td { background: #ff000050; }
.blue td { background: #0aa9ff5c; }
.green td { background: #22c51f4a; }
.yellow td { background: #fff20057; }
.purple td { background: #6f01bd36; }
.Red td { background: #ff000050; }
.Blue td { background: #0aa9ff5c; }
.Green td { background: #22c51f4a; }
.Yellow td { background: #fff20057; }
.Purple td { background: #6f01bd36; }

/*タイトルの書式設定*/
.title {
    /*文字設定*/
    white-space: nowrap;
    font-family: 'GenJyuuGothicL';
	font-size: xx-large;
	margin-left: 30px;
	margin-right: 30px;
    /*装飾*/
    text-decoration: underline; 
    text-decoration-thickness: 0.6em;
    text-decoration-color: #00e7fc72; 
    text-underline-offset: -0.4em;
    text-decoration-skip-ink: none;
}

/*各種ボーナス確認欄位置設定*/
.Btext1{
    margin-left: 158px;
}
.Btext2{
    margin-left: 159px;
}

/*使い方ボタンの位置*/
.Howtobutton{
    white-space: nowrap;
    display: inline-flex;
    margin-left: 30px;
    margin-bottom: 20px;
}

/*URL、使い方ボタンの位置合わせ*/
.buttonlink{
    white-space: nowrap;
    display: inline-flex;
}

/*URLの位置*/
.urllink{
    white-space: nowrap;
    margin-left: 40px;
    margin-bottom: 20px;
}
.url1{
    margin-left: 20px;
}

/*説明文の装飾*/
.caption0{
    white-space: nowrap;
    border-radius: 15px;
    margin-top: -10px;
    margin-bottom: 20px;
    list-style: "＞";
}
.caption{
    display: inline-block;
    white-space: nowrap;
    background-color:#fff9da;
    border-radius: 15px;
    margin-top: -10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    list-style: "■";
}

/*設定領域の装飾*/
.setteiarea{
    background-color: #ff66000a;
    border: solid 2px #ff6600;
    display: inline-block;
    border-radius: 15px;
}

/*各種選択ボタンの位置設定*/
.colorselect{
	display: flex;
}

/*楽曲Color選択ボタンの設定*/
.colorselecttext1{
    margin-left: 20px;
    margin-top: 10px;
}
.colorselecttext2{
    margin-top: 10px;
    margin-left: 6px;
}

/*各種ボタンの位置設定*/
.LBselect{
	display: flex;
    margin-top: 0px;
}
.LBselect1{
    margin-top: -13px;
    margin-left: 18px;
}
.LBselect2{
    margin-top: -13px;
	margin-left: 5px;
}

/*各種ボタンの位置設定*/
.liveselect{
	display: flex;
}
.liveselect1{
    margin-top: -13px;
    margin-left: 20px;
}
.liveselect2{
    margin-top: -13px;
	margin-left: -23px;
}

/*通常用フロントボタン設定*/
#Nomselect{
    margin-left: 30px;
}

/*スポラ用フロントボタン設定*/
#SLselect{
    margin-left: 30px;
}

/*ディスコ用フロントボタン設定*/
#Dselect{
    margin-left: 30px;
}

/*表の見出し列の色付け*/
.td1{
    color: white;
    background-color: #1a1a1ab7;
}
.td2{
    color: white;
    background-color: #666666b7;
}

/*フロントスキン設定欄*/
.frontskin{
    margin-top: 10px;
    margin-left: 20px;
}
.pairmember{
    margin-top: 5px;
    margin-left: 20px;
}

/*事務所アイテム設定欄の位置*/
.officeitem {
    white-space: nowrap;
}
.officeitem0{
    margin-top: 15px;
    margin-left: 20px;
}
.officeitem1{
    margin-top: -10px;
    margin-left: 20px;
}
.office {
    margin-left: 10px;
}
#officeitem21{
    margin-left: 20px;
}

/*フロント総合力表示箇所*/
#textarea {
    color: red;
    font-size: 35px;
    font-weight: bold;
    margin-top: -40px;
    margin-left: 100px;
    margin-bottom: 15px;
}
.sumgo {
    margin-top: -35px;
    margin-left: 500px;
}
#commentarea1 {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin-top: -15px;
    margin-left: 100px;
    margin-bottom: 15px;
}
#commentarea2 {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin-top: -15px;
    margin-left: 100px;
    margin-bottom: 15px;
}
#commentarea3 {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin-top: -15px;
    margin-left: 100px;
    margin-bottom: 15px;
}
#commentarea4 {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin-top: -15px;
    margin-left: 100px;
    margin-bottom: 15px;
}

/*計算設定テーブルの装飾*/
.sumtable1{
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
    background-color: white;
    border: 1px #666666 solid;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: -10px;
    font-size: 16px;
}
.sumtable1 th{
    background: #eaeaea;
    padding: 0px 10px;
}
.sumtable1 td{
    padding: 2px 10px;
}

/*カスタムシーンカード作成テーブルの装飾*/
.custom0 {
    white-space: nowrap;
    margin-top: 30px;
    margin-left: 20px;
}
.custom{
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
    border: 1px #666666 solid;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: -10px;
    margin-left: 15px;
    margin-right: 20px;
    font-size: 16px;

}
.custom th{
    background: #afb6d3;
}
.custom td{
    padding: 2px 10px;
}

/*メンバー育成値テーブルの装飾*/
.ikuseitable0{
    margin-top: 30px;
    margin-left: 20px;
}
#ikuseitable {
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
    border: 1px #666666 solid;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 16px;
}
#ikuseitable th{
    background: #d2e3bd;
    padding: 0px 10px;
}
#ikuseitable td{
    padding: 2px 10px;
}
#submitbutton{
    display: inline-flex;
    margin-top: -40px;
    margin-left: 20px;
}

/*入力フォームのエラー設定*/
.error {
    display: none; 
}
input:invalid + .error {
    display: block;
    color: red;
    font-size: 0.9em;
}
