body {
    -webkit-text-size-adjust: 100%;
    font-family: 'GenJyuuGothicX';
    margin-bottom: 300px;
    }

/*Colorソート非表示設定*/
.red tr:not([red]):not(.tablefirstline){display:none;}
.blue tr:not([blue]):not(.tablefirstline){display:none;}
.green tr:not([green]):not(.tablefirstline){display:none;}
.yellow tr:not([yellow]):not(.tablefirstline){display:none;}
.purple tr:not([purple]):not(.tablefirstline){display:none;}

/*シーンソート非表示設定*/
.sakura01 tr:not([sakura01]):not(.tablefirstline){display:none;}
.sakura02 tr:not([sakura02]):not(.tablefirstline){display:none;}
.sakura03 tr:not([sakura03]):not(.tablefirstline){display:none;}
.sakura04 tr:not([sakura04]):not(.tablefirstline){display:none;}
.sakura05 tr:not([sakura05]):not(.tablefirstline){display:none;}
.sakura06 tr:not([sakura06]):not(.tablefirstline){display:none;}
.sakura07 tr:not([sakura07]):not(.tablefirstline){display:none;}
.sakura08 tr:not([sakura08]):not(.tablefirstline){display:none;}
.sakura09 tr:not([sakura09]):not(.tablefirstline){display:none;}
.sakura10 tr:not([sakura10]):not(.tablefirstline){display:none;}
.sakura11 tr:not([sakura11]):not(.tablefirstline){display:none;}
.sakura12 tr:not([sakura12]):not(.tablefirstline){display:none;}
.sakura13 tr:not([sakura13]):not(.tablefirstline){display:none;}
.sakura14 tr:not([sakura14]):not(.tablefirstline){display:none;}
.sakura15 tr:not([sakura15]):not(.tablefirstline){display:none;}
.sakura16 tr:not([sakura16]):not(.tablefirstline){display:none;}
.sakura17 tr:not([sakura17]):not(.tablefirstline){display:none;}
.sakura18 tr:not([sakura18]):not(.tablefirstline){display:none;}
.sakura19 tr:not([sakura19]):not(.tablefirstline){display:none;}
.sakura20 tr:not([sakura20]):not(.tablefirstline){display:none;}
.sakura21 tr:not([sakura21]):not(.tablefirstline){display:none;}
.sakura22 tr:not([sakura22]):not(.tablefirstline){display:none;}
.sakura23 tr:not([sakura23]):not(.tablefirstline){display:none;}
.sakura24 tr:not([sakura24]):not(.tablefirstline){display:none;}
.sakura25 tr:not([sakura25]):not(.tablefirstline){display:none;}
.sakura26 tr:not([sakura26]):not(.tablefirstline){display:none;}
.sakura27 tr:not([sakura27]):not(.tablefirstline){display:none;}
.sakura28 tr:not([sakura28]):not(.tablefirstline){display:none;}
.sakura29 tr:not([sakura29]):not(.tablefirstline){display:none;}
.sakura30 tr:not([sakura30]):not(.tablefirstline){display:none;}
.sakura31 tr:not([sakura31]):not(.tablefirstline){display:none;}
.sakura32 tr:not([sakura32]):not(.tablefirstline){display:none;}
.sakura33 tr:not([sakura33]):not(.tablefirstline){display:none;}
.sakura34 tr:not([sakura34]):not(.tablefirstline){display:none;}
.sakura35 tr:not([sakura35]):not(.tablefirstline){display:none;}
.sakura36 tr:not([sakura36]):not(.tablefirstline){display:none;}
.sakura37 tr:not([sakura37]):not(.tablefirstline){display:none;}
.sakura38 tr:not([sakura38]):not(.tablefirstline){display:none;}
.sakura39 tr:not([sakura39]):not(.tablefirstline){display:none;}
.sakura40 tr:not([sakura40]):not(.tablefirstline){display:none;}
.sakura41 tr:not([sakura41]):not(.tablefirstline){display:none;}
.sakura42 tr:not([sakura42]):not(.tablefirstline){display:none;}
.sakura43 tr:not([sakura43]):not(.tablefirstline){display:none;}
.sakura44 tr:not([sakura44]):not(.tablefirstline){display:none;}
.sakura45 tr:not([sakura45]):not(.tablefirstline){display:none;}
.sakura46 tr:not([sakura46]):not(.tablefirstline){display:none;}
.sakura47 tr:not([sakura47]):not(.tablefirstline){display:none;}
.sakura48 tr:not([sakura48]):not(.tablefirstline){display:none;}
.sakura49 tr:not([sakura49]):not(.tablefirstline){display:none;}
.sakura50 tr:not([sakura50]):not(.tablefirstline){display:none;}
.sakura51 tr:not([sakura51]):not(.tablefirstline){display:none;}
.sakura52 tr:not([sakura52]):not(.tablefirstline){display:none;}
.sakura53 tr:not([sakura53]):not(.tablefirstline){display:none;}
.sakura54 tr:not([sakura54]):not(.tablefirstline){display:none;}
.sakura55 tr:not([sakura55]):not(.tablefirstline){display:none;}
.sakura56 tr:not([sakura56]):not(.tablefirstline){display:none;}
.sakura57 tr:not([sakura57]):not(.tablefirstline){display:none;}
.sakura58 tr:not([sakura58]):not(.tablefirstline){display:none;}
.sakura59 tr:not([sakura59]):not(.tablefirstline){display:none;}
.sakura60 tr:not([sakura60]):not(.tablefirstline){display:none;}
.sakura61 tr:not([sakura61]):not(.tablefirstline){display:none;}
.sakura62 tr:not([sakura62]):not(.tablefirstline){display:none;}
.sakura63 tr:not([sakura63]):not(.tablefirstline){display:none;}
.sakura64 tr:not([sakura64]):not(.tablefirstline){display:none;}
.sakura65 tr:not([sakura65]):not(.tablefirstline){display:none;}
.sakura66 tr:not([sakura66]):not(.tablefirstline){display:none;}
.sakura67 tr:not([sakura67]):not(.tablefirstline){display:none;}
.sakura68 tr:not([sakura68]):not(.tablefirstline){display:none;}
.sakura69 tr:not([sakura69]):not(.tablefirstline){display:none;}
.sakura70 tr:not([sakura70]):not(.tablefirstline){display:none;}
.sakura71 tr:not([sakura71]):not(.tablefirstline){display:none;}
.sakura72 tr:not([sakura72]):not(.tablefirstline){display:none;}
.sakura73 tr:not([sakura73]):not(.tablefirstline){display:none;}
.sakura74 tr:not([sakura74]):not(.tablefirstline){display:none;}
.sakura75 tr:not([sakura75]):not(.tablefirstline){display:none;}
.sakura76 tr:not([sakura76]):not(.tablefirstline){display:none;}
.sakura77 tr:not([sakura77]):not(.tablefirstline){display:none;}
.sakura78 tr:not([sakura78]):not(.tablefirstline){display:none;}
.sakura79 tr:not([sakura79]):not(.tablefirstline){display:none;}
.sakura80 tr:not([sakura80]):not(.tablefirstline){display:none;}
.sakura81 tr:not([sakura81]):not(.tablefirstline){display:none;}
.sakura82 tr:not([sakura82]):not(.tablefirstline){display:none;}
.sakura83 tr:not([sakura83]):not(.tablefirstline){display:none;}
.sakura84 tr:not([sakura84]):not(.tablefirstline){display:none;}
.sakura85 tr:not([sakura85]):not(.tablefirstline){display:none;}
.sakura86 tr:not([sakura86]):not(.tablefirstline){display:none;}
.sakura87 tr:not([sakura87]):not(.tablefirstline){display:none;}
.sakura88 tr:not([sakura88]):not(.tablefirstline){display:none;}
.sakura89 tr:not([sakura89]):not(.tablefirstline){display:none;}
.sakura90 tr:not([sakura90]):not(.tablefirstline){display:none;}
.sakura91 tr:not([sakura91]):not(.tablefirstline){display:none;}
.sakura92 tr:not([sakura92]):not(.tablefirstline){display:none;}
.sakura93 tr:not([sakura93]):not(.tablefirstline){display:none;}
.sakura94 tr:not([sakura94]):not(.tablefirstline){display:none;}
.sakura95 tr:not([sakura95]):not(.tablefirstline){display:none;}
.sakura96 tr:not([sakura96]):not(.tablefirstline){display:none;}
.sakura97 tr:not([sakura97]):not(.tablefirstline){display:none;}
.sakura98 tr:not([sakura98]):not(.tablefirstline){display:none;}
.sakura99 tr:not([sakura99]):not(.tablefirstline){display:none;}
.sakura100 tr:not([sakura100]):not(.tablefirstline){display:none;}
.sakura101 tr:not([sakura101]):not(.tablefirstline){display:none;}
.sakura102 tr:not([sakura102]):not(.tablefirstline){display:none;}
.sakura103 tr:not([sakura103]):not(.tablefirstline){display:none;}
.sakura104 tr:not([sakura104]):not(.tablefirstline){display:none;}
.sakura105 tr:not([sakura105]):not(.tablefirstline){display:none;}
.sakura106 tr:not([sakura106]):not(.tablefirstline){display:none;}
.sakura107 tr:not([sakura107]):not(.tablefirstline){display:none;}
.sakura108 tr:not([sakura108]):not(.tablefirstline){display:none;}
.sakura109 tr:not([sakura109]):not(.tablefirstline){display:none;}
.sakura110 tr:not([sakura110]):not(.tablefirstline){display:none;}
.sakura111 tr:not([sakura111]):not(.tablefirstline){display:none;}
.sakura112 tr:not([sakura112]):not(.tablefirstline){display:none;}
.sakura113 tr:not([sakura113]):not(.tablefirstline){display:none;}
.sakura114 tr:not([sakura114]):not(.tablefirstline){display:none;}
.sakura115 tr:not([sakura115]):not(.tablefirstline){display:none;}
.sakura116 tr:not([sakura116]):not(.tablefirstline){display:none;}
.hinata01 tr:not([hinata01]):not(.tablefirstline){display:none;}
.hinata02 tr:not([hinata02]):not(.tablefirstline){display:none;}
.hinata03 tr:not([hinata03]):not(.tablefirstline){display:none;}
.hinata04 tr:not([hinata04]):not(.tablefirstline){display:none;}
.hinata05 tr:not([hinata05]):not(.tablefirstline){display:none;}
.hinata06 tr:not([hinata06]):not(.tablefirstline){display:none;}
.hinata07 tr:not([hinata07]):not(.tablefirstline){display:none;}
.hinata08 tr:not([hinata08]):not(.tablefirstline){display:none;}
.hinata09 tr:not([hinata09]):not(.tablefirstline){display:none;}
.hinata10 tr:not([hinata10]):not(.tablefirstline){display:none;}
.hinata11 tr:not([hinata11]):not(.tablefirstline){display:none;}
.hinata12 tr:not([hinata12]):not(.tablefirstline){display:none;}
.hinata13 tr:not([hinata13]):not(.tablefirstline){display:none;}
.hinata14 tr:not([hinata14]):not(.tablefirstline){display:none;}
.hinata15 tr:not([hinata15]):not(.tablefirstline){display:none;}
.hinata16 tr:not([hinata16]):not(.tablefirstline){display:none;}
.hinata17 tr:not([hinata17]):not(.tablefirstline){display:none;}
.hinata18 tr:not([hinata18]):not(.tablefirstline){display:none;}
.hinata19 tr:not([hinata19]):not(.tablefirstline){display:none;}
.hinata20 tr:not([hinata20]):not(.tablefirstline){display:none;}
.hinata21 tr:not([hinata21]):not(.tablefirstline){display:none;}
.hinata22 tr:not([hinata22]):not(.tablefirstline){display:none;}
.hinata23 tr:not([hinata23]):not(.tablefirstline){display:none;}
.hinata24 tr:not([hinata24]):not(.tablefirstline){display:none;}
.hinata25 tr:not([hinata25]):not(.tablefirstline){display:none;}
.hinata26 tr:not([hinata26]):not(.tablefirstline){display:none;}
.hinata27 tr:not([hinata27]):not(.tablefirstline){display:none;}
.hinata28 tr:not([hinata28]):not(.tablefirstline){display:none;}
.hinata29 tr:not([hinata29]):not(.tablefirstline){display:none;}
.hinata30 tr:not([hinata30]):not(.tablefirstline){display:none;}
.hinata31 tr:not([hinata31]):not(.tablefirstline){display:none;}
.hinata32 tr:not([hinata32]):not(.tablefirstline){display:none;}
.hinata33 tr:not([hinata33]):not(.tablefirstline){display:none;}
.hinata34 tr:not([hinata34]):not(.tablefirstline){display:none;}
.hinata35 tr:not([hinata35]):not(.tablefirstline){display:none;}
.hinata36 tr:not([hinata36]):not(.tablefirstline){display:none;}
.hinata37 tr:not([hinata37]):not(.tablefirstline){display:none;}
.hinata38 tr:not([hinata38]):not(.tablefirstline){display:none;}
.hinata39 tr:not([hinata39]):not(.tablefirstline){display:none;}
.hinata40 tr:not([hinata40]):not(.tablefirstline){display:none;}
.hinata41 tr:not([hinata41]):not(.tablefirstline){display:none;}
.hinata42 tr:not([hinata42]):not(.tablefirstline){display:none;}
.hinata43 tr:not([hinata43]):not(.tablefirstline){display:none;}
.hinata44 tr:not([hinata44]):not(.tablefirstline){display:none;}
.hinata45 tr:not([hinata45]):not(.tablefirstline){display:none;}
.hinata46 tr:not([hinata46]):not(.tablefirstline){display:none;}
.hinata47 tr:not([hinata47]):not(.tablefirstline){display:none;}
.hinata48 tr:not([hinata48]):not(.tablefirstline){display:none;}
.hinata49 tr:not([hinata49]):not(.tablefirstline){display:none;}
.hinata50 tr:not([hinata50]):not(.tablefirstline){display:none;}
.hinata51 tr:not([hinata51]):not(.tablefirstline){display:none;}
.hinata52 tr:not([hinata52]):not(.tablefirstline){display:none;}
.hinata53 tr:not([hinata53]):not(.tablefirstline){display:none;}
.hinata54 tr:not([hinata54]):not(.tablefirstline){display:none;}
.hinata55 tr:not([hinata55]):not(.tablefirstline){display:none;}
.hinata56 tr:not([hinata56]):not(.tablefirstline){display:none;}
.hinata57 tr:not([hinata57]):not(.tablefirstline){display:none;}
.hinata58 tr:not([hinata58]):not(.tablefirstline){display:none;}
.hinata59 tr:not([hinata59]):not(.tablefirstline){display:none;}
.hinata60 tr:not([hinata60]):not(.tablefirstline){display:none;}
.hinata61 tr:not([hinata61]):not(.tablefirstline){display:none;}
.hinata62 tr:not([hinata62]):not(.tablefirstline){display:none;}
.hinata63 tr:not([hinata63]):not(.tablefirstline){display:none;}
.hinata64 tr:not([hinata64]):not(.tablefirstline){display:none;}
.hinata65 tr:not([hinata65]):not(.tablefirstline){display:none;}
.hinata66 tr:not([hinata66]):not(.tablefirstline){display:none;}
.hinata67 tr:not([hinata67]):not(.tablefirstline){display:none;}
.hinata68 tr:not([hinata68]):not(.tablefirstline){display:none;}
.hinata69 tr:not([hinata69]):not(.tablefirstline){display:none;}
.hinata70 tr:not([hinata70]):not(.tablefirstline){display:none;}
.hinata71 tr:not([hinata71]):not(.tablefirstline){display:none;}
.hinata72 tr:not([hinata72]):not(.tablefirstline){display:none;}
.hinata73 tr:not([hinata73]):not(.tablefirstline){display:none;}
.hinata74 tr:not([hinata74]):not(.tablefirstline){display:none;}
.hinata75 tr:not([hinata75]):not(.tablefirstline){display:none;}
.hinata76 tr:not([hinata76]):not(.tablefirstline){display:none;}
.hinata77 tr:not([hinata77]):not(.tablefirstline){display:none;}
.hinata78 tr:not([hinata78]):not(.tablefirstline){display:none;}
.hinata79 tr:not([hinata79]):not(.tablefirstline){display:none;}
.hinata80 tr:not([hinata80]):not(.tablefirstline){display:none;}
.hinata81 tr:not([hinata81]):not(.tablefirstline){display:none;}
.hinata82 tr:not([hinata82]):not(.tablefirstline){display:none;}
.hinata83 tr:not([hinata83]):not(.tablefirstline){display:none;}
.hinata84 tr:not([hinata84]):not(.tablefirstline){display:none;}
.hinata85 tr:not([hinata85]):not(.tablefirstline){display:none;}
.hinata86 tr:not([hinata86]):not(.tablefirstline){display:none;}
.hinata87 tr:not([hinata87]):not(.tablefirstline){display:none;}
.hinata88 tr:not([hinata88]):not(.tablefirstline){display:none;}
.hinata89 tr:not([hinata89]):not(.tablefirstline){display:none;}
.hinata90 tr:not([hinata90]):not(.tablefirstline){display:none;}
.hinata91 tr:not([hinata91]):not(.tablefirstline){display:none;}
.hinata92 tr:not([hinata92]):not(.tablefirstline){display:none;}
.hinata93 tr:not([hinata93]):not(.tablefirstline){display:none;}
.hinata94 tr:not([hinata94]):not(.tablefirstline){display:none;}
.hinata95 tr:not([hinata95]):not(.tablefirstline){display:none;}
.hinata96 tr:not([hinata96]):not(.tablefirstline){display:none;}
.hinata97 tr:not([hinata97]):not(.tablefirstline){display:none;}
.hinata98 tr:not([hinata98]):not(.tablefirstline){display:none;}
.hinata99 tr:not([hinata99]):not(.tablefirstline){display:none;}
.hinata100 tr:not([hinata100]):not(.tablefirstline){display:none;}
.hinata101 tr:not([hinata101]):not(.tablefirstline){display:none;}
.hinata102 tr:not([hinata102]):not(.tablefirstline){display:none;}
.hinata103 tr:not([hinata103]):not(.tablefirstline){display:none;}
.hinata104 tr:not([hinata104]):not(.tablefirstline){display:none;}
.hinata105 tr:not([hinata105]):not(.tablefirstline){display:none;}
.hinata106 tr:not([hinata106]):not(.tablefirstline){display:none;}
.hinata107 tr:not([hinata107]):not(.tablefirstline){display:none;}
.hinata108 tr:not([hinata108]):not(.tablefirstline){display:none;}
.hinata109 tr:not([hinata109]):not(.tablefirstline){display:none;}
.hinata110 tr:not([hinata110]):not(.tablefirstline){display:none;}
.hinata111 tr:not([hinata111]):not(.tablefirstline){display:none;}
.hinata112 tr:not([hinata112]):not(.tablefirstline){display:none;}
.hinata113 tr:not([hinata113]):not(.tablefirstline){display:none;}
.hinata114 tr:not([hinata114]):not(.tablefirstline){display:none;}
.hinata115 tr:not([hinata115]):not(.tablefirstline){display:none;}
.hinata116 tr:not([hinata116]):not(.tablefirstline){display:none;}
.hinata117 tr:not([hinata117]):not(.tablefirstline){display:none;}
.hinata118 tr:not([hinata118]):not(.tablefirstline){display:none;}
.hinata119 tr:not([hinata119]):not(.tablefirstline){display:none;}
.keyaki01 tr:not([keyaki01]):not(.tablefirstline){display:none;}
.keyaki02 tr:not([keyaki02]):not(.tablefirstline){display:none;}
.keyaki03 tr:not([keyaki03]):not(.tablefirstline){display:none;}
.keyaki04 tr:not([keyaki04]):not(.tablefirstline){display:none;}
.keyaki05 tr:not([keyaki05]):not(.tablefirstline){display:none;}
.keyaki06 tr:not([keyaki06]):not(.tablefirstline){display:none;}
.keyaki07 tr:not([keyaki07]):not(.tablefirstline){display:none;}
.keyaki08 tr:not([keyaki08]):not(.tablefirstline){display:none;}
.keyaki09 tr:not([keyaki09]):not(.tablefirstline){display:none;}
.keyaki10 tr:not([keyaki10]):not(.tablefirstline){display:none;}
.keyaki11 tr:not([keyaki11]):not(.tablefirstline){display:none;}
.keyaki12 tr:not([keyaki12]):not(.tablefirstline){display:none;}
.keyaki13 tr:not([keyaki13]):not(.tablefirstline){display:none;}
.keyaki14 tr:not([keyaki14]):not(.tablefirstline){display:none;}
.keyaki15 tr:not([keyaki15]):not(.tablefirstline){display:none;}
.keyaki16 tr:not([keyaki16]):not(.tablefirstline){display:none;}
.keyaki17 tr:not([keyaki17]):not(.tablefirstline){display:none;}
.keyaki18 tr:not([keyaki18]):not(.tablefirstline){display:none;}
.keyaki19 tr:not([keyaki19]):not(.tablefirstline){display:none;}
.keyaki20 tr:not([keyaki20]):not(.tablefirstline){display:none;}
.keyaki21 tr:not([keyaki21]):not(.tablefirstline){display:none;}
.keyaki22 tr:not([keyaki22]):not(.tablefirstline){display:none;}
.keyaki23 tr:not([keyaki23]):not(.tablefirstline){display:none;}

/*メンバーソート非表示設定*/
.uemura tr:not([uemura]):not(.tablefirstline){display:none;}
.ozeki tr:not([ozeki]):not(.tablefirstline){display:none;}
.koike tr:not([koike]):not(.tablefirstline){display:none;}
.kobayashi tr:not([kobayashi]):not(.tablefirstline){display:none;}
.fuyuka tr:not([fuyuka]):not(.tablefirstline){display:none;}
.sugai tr:not([sugai]):not(.tablefirstline){display:none;}
.habu tr:not([habu]):not(.tablefirstline){display:none;}
.harada tr:not([harada]):not(.tablefirstline){display:none;}
.akane tr:not([akane]):not(.tablefirstline){display:none;}
.rika tr:not([rika]):not(.tablefirstline){display:none;}
.risa tr:not([risa]):not(.tablefirstline){display:none;}
.inoue tr:not([inoue]):not(.tablefirstline){display:none;}
.endou tr:not([endou]):not(.tablefirstline){display:none;}
.oozono tr:not([oozono]):not(.tablefirstline){display:none;}
.oonuma tr:not([oonuma]):not(.tablefirstline){display:none;}
.kousaka tr:not([kousaka]):not(.tablefirstline){display:none;}
.seki tr:not([seki]):not(.tablefirstline){display:none;}
.takemoto tr:not([takemoto]):not(.tablefirstline){display:none;}
.hono tr:not([hono]):not(.tablefirstline){display:none;}
.fujiyoshi tr:not([fujiyoshi]):not(.tablefirstline){display:none;}
.masumoto tr:not([masumoto]):not(.tablefirstline){display:none;}
.rina tr:not([rina]):not(.tablefirstline){display:none;}
.morita tr:not([morita]):not(.tablefirstline){display:none;}
.rena tr:not([rena]):not(.tablefirstline){display:none;}
.ten tr:not([ten]):not(.tablefirstline){display:none;}
.ishirika tr:not([ishirika]):not(.tablefirstline){display:none;}
.enriko tr:not([enriko]):not(.tablefirstline){display:none;}
.odakura tr:not([odakura]):not(.tablefirstline){display:none;}
.nagisa tr:not([nagisa]):not(.tablefirstline){display:none;}
.airi tr:not([airi]):not(.tablefirstline){display:none;}
.yuzuki tr:not([yuzuki]):not(.tablefirstline){display:none;}
.mio tr:not([mio]):not(.tablefirstline){display:none;}
.itoha tr:not([itoha]):not(.tablefirstline){display:none;}
.yuu tr:not([yuu]):not(.tablefirstline){display:none;}
.miu tr:not([miu]):not(.tablefirstline){display:none;}
.mizuki tr:not([mizuki]):not(.tablefirstline){display:none;}
.ishimori tr:not([ishimori]):not(.tablefirstline){display:none;}
.oda tr:not([oda]):not(.tablefirstline){display:none;}
.shiori tr:not([shiori]):not(.tablefirstline){display:none;}
.suzumoto tr:not([suzumoto]):not(.tablefirstline){display:none;}
.nagasawa tr:not([nagasawa]):not(.tablefirstline){display:none;}
.hirate tr:not([hirate]):not(.tablefirstline){display:none;}
.matsudaira tr:not([matsudaira]):not(.tablefirstline){display:none;}
.ushio tr:not([ushio]):not(.tablefirstline){display:none;}
.kageyama tr:not([kageyama]):not(.tablefirstline){display:none;}
.shiho tr:not([shiho]):not(.tablefirstline){display:none;}
.kyouko tr:not([kyouko]):not(.tablefirstline){display:none;}
.kumi tr:not([kumi]):not(.tablefirstline){display:none;}
.mirei tr:not([mirei]):not(.tablefirstline){display:none;}
.takase tr:not([takase]):not(.tablefirstline){display:none;}
.takamoto tr:not([takamoto]):not(.tablefirstline){display:none;}
.higashimura tr:not([higashimura]):not(.tablefirstline){display:none;}
.kanemura tr:not([kanemura]):not(.tablefirstline){display:none;}
.kawata tr:not([kawata]):not(.tablefirstline){display:none;}
.kosaka tr:not([kosaka]):not(.tablefirstline){display:none;}
.tomita tr:not([tomita]):not(.tablefirstline){display:none;}
.nibu tr:not([nibu]):not(.tablefirstline){display:none;}
.hamagishi tr:not([hamagishi]):not(.tablefirstline){display:none;}
.konoka tr:not([konoka]):not(.tablefirstline){display:none;}
.manamo tr:not([manamo]):not(.tablefirstline){display:none;}
.miho tr:not([miho]):not(.tablefirstline){display:none;}
.hinano tr:not([hinano]):not(.tablefirstline){display:none;}
.mikuni tr:not([mikuni]):not(.tablefirstline){display:none;}
.marie tr:not([marie]):not(.tablefirstline){display:none;}
.haruyo tr:not([haruyo]):not(.tablefirstline){display:none;}
.ishiduka tr:not([ishiduka]):not(.tablefirstline){display:none;}
.kishi tr:not([kishi]):not(.tablefirstline){display:none;}
.konishi tr:not([konishi]):not(.tablefirstline){display:none;}
.shimizu tr:not([shimizu]):not(.tablefirstline){display:none;}
.shogenji tr:not([shogenji]):not(.tablefirstline){display:none;}
.kirari tr:not([kirari]):not(.tablefirstline){display:none;}
.hirao tr:not([hirao]):not(.tablefirstline){display:none;}
.hiraoka tr:not([hiraoka]):not(.tablefirstline){display:none;}
.fujishima tr:not([fujishima]):not(.tablefirstline){display:none;}
.miyachi tr:not([miyachi]):not(.tablefirstline){display:none;}
.yamashita tr:not([yamashita]):not(.tablefirstline){display:none;}
.rinashi tr:not([rinashi]):not(.tablefirstline){display:none;}
.iguchi tr:not([iguchi]):not(.tablefirstline){display:none;}

/*期待値ソート非表示設定*/
.k1 tr:not([k1]):not(.tablefirstline){display:none;}
.k2 tr:not([k2]):not(.tablefirstline){display:none;}
.k3 tr:not([k3]):not(.tablefirstline){display:none;}
.k4 tr:not([k4]):not(.tablefirstline){display:none;}
.k5 tr:not([k5]):not(.tablefirstline){display:none;}
.k6 tr:not([k6]):not(.tablefirstline){display:none;}
.k7 tr:not([k7]):not(.tablefirstline){display:none;}
.k8 tr:not([k8]):not(.tablefirstline){display:none;}
.k9 tr:not([k9]):not(.tablefirstline){display:none;}
.k10 tr:not([k10]):not(.tablefirstline){display:none;}
.k11 tr:not([k11]):not(.tablefirstline){display:none;}
.k12 tr:not([k12]):not(.tablefirstline){display:none;}
.k13 tr:not([k13]):not(.tablefirstline){display:none;}
.k14 tr:not([k14]):not(.tablefirstline){display:none;}
.k15 tr:not([k15]):not(.tablefirstline){display:none;}
.k16 tr:not([k16]):not(.tablefirstline){display:none;}
.k17 tr:not([k17]):not(.tablefirstline){display:none;}
.k18 tr:not([k18]):not(.tablefirstline){display:none;}
.k19 tr:not([k19]):not(.tablefirstline){display:none;}
.k20 tr:not([k20]):not(.tablefirstline){display:none;}
.k21 tr:not([k21]):not(.tablefirstline){display:none;}
.k22 tr:not([k22]):not(.tablefirstline){display:none;}
.k23 tr:not([k23]):not(.tablefirstline){display:none;}
.k24 tr:not([k24]):not(.tablefirstline){display:none;}
.k25 tr:not([k25]):not(.tablefirstline){display:none;}
.k26 tr:not([k26]):not(.tablefirstline){display:none;}
.k27 tr:not([k27]):not(.tablefirstline){display:none;}
.k28 tr:not([k28]):not(.tablefirstline){display:none;}
.k29 tr:not([k29]):not(.tablefirstline){display:none;}
.k30 tr:not([k30]):not(.tablefirstline){display:none;}
.k31 tr:not([k31]):not(.tablefirstline){display:none;}
.k32 tr:not([k32]):not(.tablefirstline){display:none;}
.k33 tr:not([k33]):not(.tablefirstline){display:none;}
.k34 tr:not([k34]):not(.tablefirstline){display:none;}
.k35 tr:not([k35]):not(.tablefirstline){display:none;}
.k36 tr:not([k36]):not(.tablefirstline){display:none;}
.k37 tr:not([k37]):not(.tablefirstline){display:none;}
.k38 tr:not([k38]):not(.tablefirstline){display:none;}
.k39 tr:not([k39]):not(.tablefirstline){display:none;}
.k40 tr:not([k40]):not(.tablefirstline){display:none;}
.k41 tr:not([k41]):not(.tablefirstline){display:none;}
.k42 tr:not([k42]):not(.tablefirstline){display:none;}
.k43 tr:not([k43]):not(.tablefirstline){display:none;}
.k44 tr:not([k44]):not(.tablefirstline){display:none;}
.k45 tr:not([k45]):not(.tablefirstline){display:none;}
.k46 tr:not([k46]):not(.tablefirstline){display:none;}
.k47 tr:not([k47]):not(.tablefirstline){display:none;}
.k48 tr:not([k48]):not(.tablefirstline){display:none;}
.k49 tr:not([k49]):not(.tablefirstline){display:none;}
.k50 tr:not([k50]):not(.tablefirstline){display:none;}
.k51 tr:not([k51]):not(.tablefirstline){display:none;}

/*センタースキルソート非表示設定*/
.all40 tr:not([all40]):not(.tablefirstline){display:none;}
.all35 tr:not([all35]):not(.tablefirstline){display:none;}
.all35M tr:not([all35M]):not(.tablefirstline){display:none;}
.all25 tr:not([all25]):not(.tablefirstline){display:none;}
.vo70 tr:not([vo70]):not(.tablefirstline){display:none;}
.da70 tr:not([da70]):not(.tablefirstline){display:none;}
.pe70 tr:not([pe70]):not(.tablefirstline){display:none;}
.voda40 tr:not([voda40]):not(.tablefirstline){display:none;}
.dape40 tr:not([dape40]):not(.tablefirstline){display:none;}
.vope40 tr:not([vope40]):not(.tablefirstline){display:none;}
.voda50 tr:not([voda50]):not(.tablefirstline){display:none;}
.dape50 tr:not([dape50]):not(.tablefirstline){display:none;}
.vope50 tr:not([vope50]):not(.tablefirstline){display:none;}
.vo85 tr:not([vo85]):not(.tablefirstline){display:none;}
.da85 tr:not([da85]):not(.tablefirstline){display:none;}
.pe85 tr:not([pe85]):not(.tablefirstline){display:none;}
.allcol40 tr:not([allcol40]):not(.tablefirstline){display:none;}
.vodacol55 tr:not([vodacol55]):not(.tablefirstline){display:none;}
.dapecol55 tr:not([dapecol55]):not(.tablefirstline){display:none;}
.vopecol55 tr:not([vopecol55]):not(.tablefirstline){display:none;}
.vocol90 tr:not([vocol90]):not(.tablefirstline){display:none;}
.dacol90 tr:not([dacol90]):not(.tablefirstline){display:none;}
.pecol90 tr:not([pecol90]):not(.tablefirstline){display:none;}
.allcol40s18 tr:not([allcol40s18]):not(.tablefirstline){display:none;}
.vodacol55s18 tr:not([vodacol55s18]):not(.tablefirstline){display:none;}
.dapecol55s18 tr:not([dapecol55s18]):not(.tablefirstline){display:none;}
.vopecol55s18 tr:not([vopecol55s18]):not(.tablefirstline){display:none;}
.vocol90s18 tr:not([vocol90s18]):not(.tablefirstline){display:none;}
.dacol90s18 tr:not([dacol90s18]):not(.tablefirstline){display:none;}
.pecol90s18 tr:not([pecol90s18]):not(.tablefirstline){display:none;}
.allmaxst85vo065bai tr:not([allmaxst85vo065bai]):not(.tablefirstline){display:none;}
.allmaxst85da065bai tr:not([allmaxst85da065bai]):not(.tablefirstline){display:none;}
.allmaxst85pe065bai tr:not([allmaxst85pe065bai]):not(.tablefirstline){display:none;}
.allmaxsts225065bai tr:not([allmaxsts225065bai]):not(.tablefirstline){display:none;}
.allst40all050bai tr:not([allst40all050bai]):not(.tablefirstline){display:none;}
.allst85vo050bai tr:not([allst85vo050bai]):not(.tablefirstline){display:none;}
.allst85da050bai tr:not([allst85da050bai]):not(.tablefirstline){display:none;}
.allst85pe050bai tr:not([allst85pe050bai]):not(.tablefirstline){display:none;}
.vodast55060bai tr:not([vodast55060bai]):not(.tablefirstline){display:none;}
.dapest55060bai tr:not([dapest55060bai]):not(.tablefirstline){display:none;}
.vopest55060bai tr:not([vopest55060bai]):not(.tablefirstline){display:none;}
.vost85070bai tr:not([vost85070bai]):not(.tablefirstline){display:none;}
.dast85070bai tr:not([dast85070bai]):not(.tablefirstline){display:none;}
.pest85070bai tr:not([pest85070bai]):not(.tablefirstline){display:none;}
.s225 tr:not([s225]):not(.tablefirstline){display:none;}
.vo70siagari25 tr:not([vo70siagari25]):not(.tablefirstline){display:none;}
.da70siagari25 tr:not([da70siagari25]):not(.tablefirstline){display:none;}
.pe70siagari25 tr:not([pe70siagari25]):not(.tablefirstline){display:none;}
.vo70siagari50 tr:not([vo70siagari50]):not(.tablefirstline){display:none;}
.da70siagari50 tr:not([da70siagari50]):not(.tablefirstline){display:none;}
.pe70siagari50 tr:not([pe70siagari50]):not(.tablefirstline){display:none;}


/*Color設定*/
.red td { background: #ff000050; }
.blue td { background: #0aa9ff5c; }
.green td { background: #22c51f4a; }
.yellow td { background: #fff20057; }
.purple td { background: #6f01bd36; }
.Red td { background: #ff000050; }
.Blue td { background: #0aa9ff5c; }
.Green td { background: #22c51f4a; }
.Yellow td { background: #fff20057; }
.Purple td { background: #6f01bd36; }

/*上に戻るボタンの設定*/
.pagetop {
	color: #fff;
	background-color: rgba(179, 177, 163, 0.653);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	font-size: 1rem;
	width: 3.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
	border-radius: 3rem;
	text-align: center;
	cursor: pointer;
}
.pagetop:hover {
	color: rgb(0, 0, 0) !important;
	background-color: #fdb100f0;
	text-decoration: none;
}

/*タイトルの書式設定*/
.title {
    /*文字設定*/
	width: auto;
    white-space: nowrap;
	max-width: 100%;
    font-family: 'GenJyuuGothicL';
	font-size: xx-large;
	margin-left: 20px;
	margin-right: 30px;
    /*装飾*/
    text-decoration: underline; 
    text-decoration-thickness: 0.6em;
    text-decoration-color: rgba(251, 255, 0, 0.4); 
    text-underline-offset: -0.4em;
    text-decoration-skip-ink: none;
}

/*説明文の装飾*/
.caption {
    white-space: nowrap;
    margin-top: -10px;
    margin-bottom: 20px;
    list-style: "＞";
}

/*Resetボタンの書式設定*/
.sel1 {
	display: inline-flex; 
    white-space: nowrap;
    margin-left: 30px;
	margin-bottom: 10px;
}

/*セレクターの書式設定*/
.sel2 {
	display: inline-flex;
    white-space: nowrap;
    font-size: medium;
    margin-left: 20px;
	margin-bottom: 10px;
}
.mothersel {
    white-space: nowrap;
}

/*ソートボタンの装飾*/
.tsImgArea{ line-height:1; }
.tsImg{
    display: inline-block;
    width: 8px;
    height: 6px;
    background: rgb(207, 207, 207);
    border: 1px solid #777;
    margin: 1px 3px;
    padding: 3px;
    cursor: pointer;
}
.tsImg:hover{ background:#44e6ff; }
.tsImg path{ fill:#777; } 

/*メインテーブル1行目のスクロール時固定設定*/
.tablefirstline {
    position: sticky;
    top: 0;
    border: 1px #2f2f2f solid;
}

/*メインテーブルの装飾*/
#maintable {
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
    border: 0.5px #666666 solid;
    border-collapse: 0px;
    border-spacing: 0;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
    font-size: 14px;
}
#maintable th {
    white-space: nowrap;
    border: 0.5px #666666 solid;
    padding : 6px 5px;
    background : #eaeaea;
    width: auto;
    font-size: 14px;
}
#maintable td {
    white-space: nowrap;
    border: 0.5px #666666 solid;
    padding: 6px 5px;
    width: auto;
    font-size: 14px;
}